* {
background-color: black;
font-family: verdana;
text-align: center;
align-content: center;
}

h1 {
  background-color: white;
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font size: 42px;
  background-color: white;
}

h5 {
  color: Aquamarine;
  font-size: 16px;
}


p {
  font-size: 21px;
  color: gray;
}

div p {
  text-align: right;
}
